@{
   ViewBag.Title = "Congratulations!";
}
<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>
<p>If you have any query/question please contact us at <a href='mailto:abb@acepolytech.com'>abb@acepolytech.com</a>.

</p>