@{
    ViewBag.Title = "RequestSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Request Success</h2>
<p>Dear student! We received your request Please note that after we receive request for books, we have to do some internal process and backgound checks of student etc. Once we complete our process we will send you confirmation email to collact books.</p>

<h4>How It Works</h4>
<ul type="1">
    <li>Student submit book request</li>
    <li>
        ABB will work on received request.
        <ul>
            <li>Do background checks of student and reference.</li>
            <li>Check if requested book is available in library or not.</li>
        </ul>
    </li>
    <li>Student will receive email of eligibility (in any case - eligible or not eligible).</li>
    <li>Not eligible means ABB has limited number of requested book and there may be other more deserving student who needs same book more than you.</li>
    <li>If student is eligible and book is availble in library, ABB will send confirmation email to student.</li>
    <li>Student need to come at our office to collact requested books along with print out of <a href="/Library/TermsAndConditions">terms &amp; conditions</a> page.</li>
</ul>
