@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<div class="col-lg-12">
    <div style="color: #ff6a00;"><h2>Anavil Book Bank (ABB)</h2> </div>
    <br />
    <p>
        An initiative by Kaushik Naik – Assisting deserving Anvil students
    </p>
    <p>
        Anavil Book Bank (ABB) is an initiative by Kaushik Naik (Hansapor- now at Valsad). Incidentally this also happens to be CSR (Corporate Social responsibility) part of Associated Consulting Engineers (ACE) – a firm owned by Kaushik Naik.
    </p>
    <p>
        Anavil Book Bank initiative is an attempt to reach out to needy and worthy Anavil students in partial fulfilment of their education requirements. As name suggests it is essentially meant for Anvils who do not enjoy any privilege. However in exceptional cases we reach out to others too.
    </p>
    <p>
        Our attempt is to reduce the cost of services delivery to minimum and as a result it is integrated in working of my company ACE. Please appreciate this and cooperate.
    </p>
    <p>
        In June 2015 we go digital for better service delivery. We hope to stabilise and be exclusively digital from 2016.
    </p>
    <p>
        ABB encourages students for reading quality books rather than run off the mill which are good for clearing exams. In some cases we try and provide reference books too.
    </p>
    <p>
        It is my sincere hope that those availing this facility will reciprocate as and when they are able to society in area of their liking. This is my prime driver of this initiate. Please note ABB do not solicit any support by this.
    </p>

    <p><div style="color: #ff6a00;">To Students: </div></p>

    <p>
        <ul>
            <li>Please read good quality books.</li>
            <li>Read reference or at least alternate author books also- I strongly recommend this for at least your core subjects.</li>
            <li>Remember the job is not waiting for you as you get degree, acquire knowledge during study to get respect and job.</li>
            <li>Take good care of books given to you; they will be used by others.</li>
            <li>Please show same enthusiasm as shown for taking book for returning it. Do not keep books with you once exam is over.</li>
        </ul>
    </p>
    <p><div style="color: #ff6a00;">To Parents:</div></p>
    <p>
        <ul>
            <li>If you can afford, please do not insist on availing ABB. You are helping others by not asking when you can afford.</li>
            <li>Please encourage your wards to return books in time.</li>
        </ul>
    </p>
    <p><div style="color: #ff6a00;">For References –</div> Please give your consent for reference to a student only when</p>
    <p>
        <ul>
            <li>You are sure he/she deserves – main criteria being economic situation of family</li>
            <li>You can prevail upon to recover books if required.</li>
        </ul>
    </p>
   
    <br /><br /><br />
    <p>
        <div class="col-md-10"><h4><i>Kaushik D Naik</i></h4></div>
    </p>
    <p>
        <div class="col-md-10">Hansapor – now Valsad</div>
        <div class="col-md-2">May 2015</div>
    </p>
</div>