@{
    ViewBag.Title = "Contact";
}

<div class="col-lg-12">
    <div style="color: #ff6a00;">
        <h2>@ViewBag.Title</h2>
    </div>
    <br />
    <b>Currently being operated from:</b>
    <address>
        7, Anukul Apartment,<br />
        Tithal Road,<br />
        Valsad - 396001<br />
        India<br />
        <abbr title="Phone">P:</abbr>
        +912632250660
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:abb@acepolytech.com "> abb@acepolytech.com </a>
    </address>
    <br />
    <p>
        Note: In case of any difficulty please contact Mr.Vatsal Desai (9879768671) between 8am to 11am.
    </p>
</div>
