@{
    ViewBag.Title = "Reference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <div style="color: #ff6a00;">
        <h2>References</h2>
    </div>
    <br />
    <p>
        ABB has decided to ask for reference from beneficiary. This is mandatory now. This is essentially to evaluating the need of applicant and ensuring against recovery of borrowed books, when required.
    </p>
    <p>
        Following Anavils have agreed to support ABB as this initiative.
    </p>
    <p>
        <ol type="1">
            <li>
                <b> Mr. Aswin T. Desai</b> (Valsad)
                <br /> M :  +919824102939<br /><br />
            </li>
            <li>
                <b> Dr. Bhumija  Desai </b> (valsad)
                <br />M :  +919825109560<br />
                (She has consented to support our new initiative for physiotherapy section. We sincerely thank her to enable us to move forward.)<br /><br />
            </li>
            <li>
                <b> Mr. Vijay D. Vashi </b>(Abrama - now Surat)
                <br />M :  +919375856156 <br /><br />
            </li>

            <li>
                <b> Mr. Deepak N. Desai </b>(Valsad)
                <br />M :  +919909079161<br /><br />
            </li>
            <li>
                <b> Mr. Nilesh A. Desai </b>(Gadat)
                <br />
                M :  +919879038825<br /><br />
            </li>

            <li>
                <b> Mr.Ranjit Naik</b> (Bilimora)
                <br />M :  +919328003128<br /><br />
            </li>

        </ol>
    </p>
</div>








